# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# NetBeans specific
.nbproject/*
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml
manifest.mf

# Misc
.deputies_dataset.csv
